*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080f38;
    color:#413296;
    }
#header{
    width: 100%;
    height: 100vh;
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center;
    }
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 400px;
    }

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: #985e98;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0d1a48;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 40px;
    margin-top: 15%;
}
.header-text h1 span{
    color: #b16dad;
}
.header-text p{
    font-size: 50px;
    margin-top: -20%;
    font-weight: 400;
}
/* -----------------------------------------about--------------------------------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.swiper{
    flex-basis: 35%;
    float: left;
}
.swiper-slide img{
    width: 100%;
    border-radius: 15px;
    height:fit-content;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #9177ef;
}
.swiper .swiper-pagination-bullet-active{
    background:#e39ef1
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-size:18px;
    line-height: 1.4;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e39ef1;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #7f5df9;
    font-size: 16px;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-------------------------------------services---------------------------------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #7253e2;
    transform: translateY(-10px);
}
.services-list div p{
    color: #fff;
    font-size: 15px;
}
/*------------------------------------My Work---------------------------------------*/
#portfolio{
    padding: 50px 0px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    background-color:#fff;
    opacity: 0.9;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #e39ef1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.layer h3{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}
.layer p{
    color: #fff;
    font-size: 15px;
}
.print{
    margin-top: 35px;
    font-size: 20px;
    display: inline-block;
}
.print a{
    margin-right: 30px;
    margin-left: 30px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/*------------------------------Test-----------------------------------*/
.modal1, .modal2, .modal3{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    width: 80vw;
    height: 70vh;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content img{
    height: 425px;

}
h4, button{
    margin: 15px 0;
}
.close, 
.close:link, 
.close:visited{
    color: #ababab;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    display: inline-block;
    line-height: 1;
    transition: all 0.2s;
}
.close:hover{
    color: #413296;
}
.modal1:target, .modal2:target, .modal3:target{
    opacity: 1;
    visibility: visible;
}
.modal1:target .content, .modal2:target .content, .modal3:target .content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
/*----------------------------------contact-------------------------------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    color: #466cf8;
}
.contact-left p i{
    margin-right: 10px;
    font-size: 20px;
}
.contact-left h2{
    font-size: 15px;
    color: #ababab;
    line-height: 1.4;
}
.social-icons{
    margin-top: 40px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 25px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#e39ef1;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #9177ef;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #262626;
    font-weight: 100;
    margin-top: 20px;
    color: #fff;
}
#msg{
    color: #e39ef1;
    margin-top: 20px;
    display: block;
}
/*----------------------------------css for small screens-----------------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(background-copy.jpg);
    }
    .header-text h1{
        font-size: 27px;
        margin-top: 250px;
        margin-right: -27px;
    }
    .header-text p{
        font-size: 30px;
        margin-top: 30px 0;
        margin-right: -31px;
    }
    .logo{
        width: 200px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #e39ef1;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .swiper{
        flex-basis: content;
    }
    .swiper-slide img{
        width:100%;
        height:auto;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .modal1, .modal2, .modal3{
        object-fit: contain;
    }
    .content{
        object-fit: contain;
    }
    .content img{
        width: 400px;
    }
}